


@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.PublishedContent;


@{
	var selection = Umbraco.Content(Guid.Parse("96f6b956-9902-4e2e-928d-742ca9511c57"))
    .ChildrenOfType("articleItemPage")
    .Where(x => x.IsVisible());
}
<ul>
	@foreach (var item in selection)
	{
		<li>
			<a href="@item.Url()">@item.Name()</a>
		</li>
	}
</ul>


<section class="articles">
  <div class="container">
    <h2 class="section-title d-none">Article and News</h2>
    <div class="d-flex justify-content-between">
      <h3 class="section-title-2">Get Every Single Articles & News</h3>
    </div>


    <div class="article-grid">

    @if(latestArticles != null)
    {
        @foreach (var item in latestArticles!)
        {
            var url = item.Url();
            var date = item.CreateDate;
            var image = item.Value<IPublishedContent>("articleImage");
            var category = item.Value("articleCategory");
            var title = item.Name();
            var description = item.Value("articleIngress");


            <a class="article-card" href="@url">
                <div class="article-img">
                    <img
                    src="@image?.Url()"
                    alt=""
                    />
                    <span class="article-date">@date.ToString("dd") @date.ToString("MMM")</span>
                </div>
                <span>@category</span>
                <h5>@title</h5>
                <p>@description</p>
            </a>
                    
        }
    }

      
    </div>


  </div>
</section>