@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedUrlProvider PublishedUrlProvider


@{
    var selection = Model.Ancestors().ToArray(); 
    var pageTitle = Model.Value("pageTitle");
}



<section class="breadcrumb">
  <img class="bg-lines" src="~/images/bg-effects/background-lines.svg" alt="lines" />
  <div class="container">
      
      @if (selection?.Length > 0)
        {
        <div class="d-flex">
        
                @foreach (var item in selection.OrderBy(x => x.Level))
                {
                    <a href="@item.Url(PublishedUrlProvider)" class="mx-1"> @item.Name </a>
                }
        
        
                 @* <span>@Model.Name</span> *@
                 
        </div>
            @if (string.IsNullOrWhiteSpace(pageTitle?.ToString()))
            {
                <h4>@Model.Name</h4>
            }
            else
            {
                <h3 class="active">@pageTitle</h3>
            }

@*             <h3 class="active">
                @(string.IsNullOrWhiteSpace(pageTitle?.ToString()) ? Model.Name : pageTitle)
            </h3> *@
            
                @* <h3 class="active">@Model.Value("pageTitle")</h3> *@

        }
    
  </div>
</section>