@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;


    <!-- CHOOSE US PART -->

    <section class="chooseus">
      <div class="container-fluid">
        <div class="bg-box"></div>
        <div class="container">
            <div>
                <h2 class="section-title">Why Choose Us</h2>
                <h3 class="section-title-2">
                  @Model.Value("chooseUsHeading")
                </h3>
                
                @{
                    var perks = Model.Value<IEnumerable<BlockListItem>>("chooseUsPerks")?.Select(x => x.Content);
                    foreach (var perk in perks)
                    {
                        var typedMediaPickerSingle = perk.Value<MediaWithCrops>("chooseUsPerkIcon");
                        
                        <div class="qualities">
                            @{if (typedMediaPickerSingle != null)
                                {
                                <img src="@typedMediaPickerSingle?.MediaUrl()"  alt="@typedMediaPickerSingle?.Value("alt")" />
                                }
                            }
                            <div class="text-content">
                                <span class="title">@perk.Value("chooseUsPerkTitle")</span>
                                <span>@perk.Value("chooseUsPerkDescription")</span>
                            </div>
                        </div>
                    }
                }
            </div>
          <div>
        @{
            var chooseUsImage = Model.Value<MediaWithCrops>("chooseUsImage");
            if (chooseUsImage != null)
            {
            <img class="chooseusImage" src="@chooseUsImage.MediaUrl()" alt="@Model.Value("chooseUsHeading")" />
            }
        }

          </div>
        </div>
      </div>
    </section>
