@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;


@{

var projects = Model.Value<IEnumerable<BlockListItem>>("projectItem")?.Select(x => x.Content);

}

    <!-- PROJECT AND CASES -->
    <section class="projects">
      <div class="container">
        <h2 class="section-title">@Model.Value("projectsSectionTitle")</h2>
        <h3 class="section-title-2">@Model.Value("projectsSectionHeading")</h3>
        <div class="project-posts">
          <!-- POSTS -->
	@foreach (var item in projects)
	{
	var image = item.Value<MediaWithCrops>("projectImage");
          <div class="project">
            <img src="@image.Url()" alt="" />
            <h3 class="title">@item.Value("projectIngress")</h3>
            <div>
              <a href="@item.Value("projectURL")"
                >Read More <i class="fa-solid fa-arrow-up-right"></i
              ></a>
            </div>
          </div>
	}
        </div>
        <a class="btn-theme-black" href="#"
          >All Recent Projects <i class="fa-solid fa-arrow-up-right"></i
        ></a>
      </div>
    </section>