@using CritoProjectDG.Controllers;
@using CritoProjectDG.Models;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "LayoutWithBreadcrumb.cshtml";
    var contactForm = new ContactForm();
}


<!-- CONTACT US -->
<section class="contactus">
  <div class="container">
    <div class="contact-cards">
      <div class="contact-card">
        <div class="d-flex align-items-center">
          <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
          <h4>Visit Us</h4>
        </div>
        <div class="d-grid justify-content-center">
          <p>@Model.Value("contactInfoStreetname")</p>
          <p>@Model.Value("contactInfoPostalCode") @Model.Value("contactInfoCity")</p>
        </div>
      </div>
      <div class="contact-card">
        <div class="d-flex align-items-center">
          <span class="icon"><i class="fa-solid fa-phone"></i></span>
          <h4>Call Us</h4>
        </div>
        <div class="d-grid justify-content-center">
          <p>@Model.Value("contactInfoPhonenumber1")</p>
          <p>@Model.Value("contactInfoPhonenumber2")</p>
        </div>
      </div>
      <div class="contact-card">
        <div class="d-flex align-items-center">
          <span class="icon"><i class="fa-solid fa-envelope"></i></span>
          <h4>Email Us</h4>
        </div>
        <div class="d-grid justify-content-center">
          <p>@Model.Value("contactInfoEmail1")</p>
          <p>@Model.Value("contactInfoEmail2")</p>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-form">
    <div class="container">
      <h3>Leave us a message for any information</h3>
      
@*             hans variant (Html.BeginUmbracoForm("Index","Contact", FormMethod.Post))*@

    
    @using (Html.BeginUmbracoForm<ContactController>(nameof(ContactController.Index)))
    {
        <div class="leave-us-a-message">
            <div asp-validation-summary="ModelOnly"></div>
            <input asp-for="@contactForm.Name" type="text" placeholder="Name*" />
            <input asp-for="@contactForm.Email" type="email" placeholder="Email*" />
            <textarea asp-for="@contactForm.Message"
                      placeholder="Your message*"></textarea>
            <button type="submit" class="btn-theme">Send Message <i class="fa-solid fa-arrow-up-right"></i> </button>
        </div>
    }

    </div>
  </div>

  <iframe
    class="google-maps"
    src="@Model.Value("googleMapsCoordinates")"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</section>